/*--- font import ---*/
@import "https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800";
@import "https://fonts.googleapis.com/css?family=Raleway:300,400,500,800";
@import "bootstrap.min.css";
/* fonts */
/* colors */
* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}
html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  background-color: #2b2b2b;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  /* Margin bottom by footer height */
  font-family: "Dosis", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #2b2b2b;
  margin-bottom: 60px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
  /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
  background-image: url("https://william-hartman.nl/CIRCLES.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 65%;
}
/*--- footer ---*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
footer .copyrights {
  text-align: center;
  color: #FFFFFF;
  background-color: #92fd91;
  font-size: 0.8rem;
}
footer .copyrights p {
  margin: 0.5rem 0;
}
.container {
  min-height: 100%;
  max-width: 1024px;
  position: relative;
}
.container-work {
  min-height: 100%;
  max-width: 100%;
  position: relative;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
button:hover {
  outline: none;
}
button:focus {
  outline: none;
}
button.close {
  color: white !important;
  font-size: 8vw;
}
/*--- primary-bg ---*/
.primary-bg {
  background-color: #92fd91;
  padding: 1rem;
  color: #FFFFFF !important;
  font-size: 0.8rem;
}
.primary-color {
  color: #92fd91;
}
.primary-bg-color {
  background-color: #92fd91;
}
/*--- typografie ---*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #92fd91;
  font-family: "Raleway", sans-serif;
  font-size: 6vw;
  font-weight: 800;
  text-decoration: none;
  padding-left: 25px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: "Raleway", sans-serif;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
}
h2 {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 6vw;
  font-weight: 800;
  text-decoration: none;
}
h2 a {
  font-family: "Raleway", sans-serif;
}
h2 span {
  color: #92fd91;
  font-family: "Raleway", sans-serif;
}
h3 {
  font-family: "Dosis", sans-serif;
  color: #92fd91;
  text-decoration: none;
}
h4 {
  font-size: 1.6rem;
}
.sub-title {
  font-size: 3vw !important;
}
.fa-square {
  color: #92fd91;
  margin-left: 20px;
  font-size: 22px !important;
  box-shadow: 2px 2px 5px #2b2b2b;
}
.fa-square:first-child {
  margin-left: 5px;
}
a {
  text-decoration: underline;
  color: #92fd91;
}
a:hover {
  outline: none;
  color: #FFFFFF;
}
a:focus {
  outline: none;
  color: inherit;
}
.logoImage {
  max-height: 70px;
  width: auto;
}
/*--- HEADER ---*/
.site-header {
  font-family: "Dosis", sans-serif;
  width: 80%;
  margin: auto;
  text-decoration: none;
  z-index: 20;
  height: 77px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.site-header a {
  padding-top: 2%;
  padding-bottom: 2%;
}
.search_res {
  color: #92fd91;
  font-size: 1.2em;
}
/*--- top search ---*/
.top-search {
  float: right;
  margin-top: 10px;
}
.searchContainer {
  position: relative;
}
.searchContainer input.searchbox1 {
  width: 250px;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.35);
  border: none;
  font-size: 12pt;
  color: #000000;
  padding-left: 45px;
  padding-right: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.searchContainer input.searchbox1::placeholder {
  color: #000000;
}
.searchContainer input.searchbox1:focus {
  border: 1px solid #2b2b2b;
  outline: none;
}
.searchContainer .searchicon {
  position: absolute;
  margin-left: 17px;
  margin-top: 13px;
  z-index: 1;
  color: #000000;
}
.searchbox {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: lightgrey;
  color: #000000;
  padding: 6px 10px;
}
.searchbox:focus {
  border: 1px solid #92fd91;
}
.searchform {
  position: absolute;
  right: 2px;
  margin-top: 1.5rem;
}
.searchform label {
  display: none;
}
.searchform #searchsubmit {
  margin-left: 15px;
  border: none;
  background: lightgrey;
  padding: 5px 10px;
}
.searchform #s {
  height: 27px;
  vertical-align: top;
  font-size: 15px;
}
.mobilesf {
  margin-top: .8rem !important;
  margin-bottom: .8rem !important;
}
/*--- main menu navigation ---*/
.hamburger_bars {
  font-size: 1.25rem !important;
}
.navbar {
  padding: 0;
}
.navbar-toggler {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.main-menu {
  background: transparent !important;
}
.main-menu .navbar-brand {
  padding: 0;
}
.main-menu .navbar-brand > img {
  max-height: 95px;
  padding-top: 5px;
  width: auto;
}
.main-menu .navbar-nav {
  margin: auto;
}
.main-menu .navbar-nav .dropdown-menu {
  padding: 0;
  margin: 0 -1px;
  margin-top: 20px;
}
.main-menu .navbar-nav .nav-link {
  padding: 0;
  margin-left: .9rem !important;
  margin-right: .9rem !important;
  margin-top: 0 !important;
  text-shadow: 2px 2px 2px #2b2b2b;
}
nav li a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2vw !important;
  color: #FFFFFF;
  cursor: pointer;
}
nav li a.active {
  font-weight: 800;
  color: #FFFFFF;
  border-top: 9px solid #92fd91;
}
nav li a:focus {
  color: #FFFFFF;
}
nav li a:hover {
  color: #FFFFFF;
}
a.li-modal {
  text-align: center;
}
.dropdown-item a {
  color: #000000;
}
.dropdown-item.active {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}
.dropdown-item:focus {
  background-color: #92fd91;
  color: #000000;
  font-weight: bold;
}
.dropdown-item:hover {
  background-color: #92fd91;
  color: #000000;
  font-weight: bold;
}
.dropdown-item:last-child:hover {
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
ul.sub-menu {
  z-index: 1;
}
.btn {
  display: inline-block;
  padding: 10px;
  background-color: transparent !important;
  border: 1px solid #92fd91 !important;
  color: #FFFFFF;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  float: right;
  border-radius: 0px !important;
}
.btn:hover {
  -webkit-transition: all 750ms;
  -moz-transition: all 750ms;
  -o-transition: all 750ms;
  transition: all 750ms;
  color: #FFFFFF;
  background-color: #92fd91 !important;
  border: 1px solid #92fd91 !important;
}
.btn.active {
  color: #FFFFFF;
  background-color: #92fd91 !important;
  border: 1px solid #92fd91 !important;
}
.btn-danger {
  background-color: transparent !important;
}
.btn.back-btn {
  color: #FFFFFF;
}
.btn.back-btn:hover {
  -webkit-transition: all 750ms;
  -moz-transition: all 750ms;
  -o-transition: all 750ms;
  transition: all 750ms;
  color: #FFFFFF;
}
/*--- homepage ---*/
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  color: #FFFFFF;
  font-weight: 700;
  padding: 18px;
  border: 2px solid #92fd91 !important;
  text-shadow: 2px 2px 4px #808080;
}
/*--- frontpage ---*/
.twoj_slideshow__nav-wrap {
  visibility: hidden;
}
.mainImg {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  max-height: 250px;
  position: relative;
}
.mainImg img {
  width: 100%;
}
.frontpage-title {
  margin-top: 40px;
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  background-color: #38383A;
}
.frontpage-inner {
  padding: 20px 0;
}
#frontpage-left {
  width: 65%;
}
.frontpage-thumbnail img {
  width: 100%;
  margin: 20px 0;
}
/*--- images ---*/
img {
  max-width: 100%;
  height: auto;
}
.attachment-banner-image {
  margin-top: 10px;
}
/*--- posts ---*/
.title {
  color: #92fd91;
  font-weight: bold;
}
.posts p {
  font-size: 1.2rem;
  line-height: 1.9rem;
  padding: 5px 0;
}
.post {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.9rem;
  text-shadow: 2px 2px 5px #2b2b2b;
}
.post:last-of-type {
  border: none;
}
.post .tags {
  margin-bottom: 10px;
}
.post b {
  font-weight: 600;
  letter-spacing: 2px;
}
.post-thumbnail {
  top: 0;
  left: 0;
}
.post-images .post-img {
  position: relative;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.post-images .post-img img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.post-images .post-img img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.rating {
  float: left;
  width: 100%;
}
.rating .rating-text {
  float: left;
}
.rating .rating-fa {
  float: right;
}
.fa-square {
  color: #92fd91;
  margin-left: 20px;
  font-size: 22px !important;
  box-shadow: 2px 2px 5px #2b2b2b;
}
.fa-square:first-child {
  margin-left: 5px;
}
/*--- projecten [in post] ---*/
.projecten-row:last-of-type {
  margin-bottom: 0;
}
.project-post {
  border: none;
  padding: 5px 30px 5px;
  margin-bottom: 0;
}
.projecten-images {
  border: none;
}
.project-img {
  position: relative;
  overflow: hidden;
  border: 1px solid #92fd91;
  background-color: #2b2b2b;
}
.project-img img {
  max-width: 100%;
  padding-left: 12px;
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.project-img img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
/*--- page content ---*/
.page-content {
  width: 100%;
}
.inner-content {
  width: 80%;
  margin-left: 10%;
}
.page-title {
  width: 100%;
  margin: 10px 0 20px;
  border-bottom: 1px solid #92fd91;
}
.title {
  padding: 10px 0;
}
.author {
  margin-bottom: 5px;
}
/*--- sidebar ---*/
.the-widget {
  margin-bottom: 15px;
}
.the-widget h2 {
  background-color: #92fd91;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: normal;
}
.the-widget ul li {
  list-style: none;
}
.the-widget ul li a {
  padding: 5px 5px;
  display: block;
  text-decoration: none;
  font-size: 15px;
}
.the-widget ul li a:before {
  content: "> ";
}
/* features */
.featured {
  position: relative;
  z-index: 2000;
  width: 100%;
  display: inline-block;
}
.feature {
  color: #000000;
  text-align: center;
  margin-bottom: 25px;
}
/* home widgets */
.home-widget h2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
  font-weight: bold;
}
.home-widget ul {
  padding-bottom: 20px;
}
.home-widget li {
  list-style: none;
  text-align: left;
}
.home-widget li:before {
  content: ' - ';
}
.home-widget a {
  text-decoration: none;
  color: #FFFFFF;
}
/* latest posts */
.latest-post {
  padding: 20px;
  margin-top: 20px;
}
.latest-post .title {
  padding: 5px;
}
/*--- NINJA FORM ---*/
.ninja-forms-field {
  border-color: #92fd91 !important;
  color: #92fd91;
}
.nf-form-cont {
  margin-bottom: 30px;
}
.nf-field-element label:before {
  color: #92fd91 !important;
}
.nf-field-element label:after {
  border-color: #92fd91 !important;
}
.nf-field-element input,
.nf-field-element textarea {
  border: solid #92fd91 1px;
  border-radius: 10px;
  padding-left: 10px;
  font-family: "Raleway", sans-serif;
}
.nf-form-content {
  max-width: 100% !important;
}
.nf-form-content input,
.nf-form-content select,
.nf-form-content textarea {
  outline: none;
  color: #92fd91 !important;
  font-size: 1.15em !important;
}
.nf-form-content input[type="button"] {
  padding: 4px 20px;
  color: #2b2b2b !important;
  border-radius: 15px !important;
  border-color: 1px #92fd91;
  font-size: 1em !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 300 !important;
}
.nf-form-content input[type="button"]:hover {
  -webkit-transition: all 750ms !important;
  -moz-transition: all 750ms !important;
  -o-transition: all 750ms !important;
  transition: all 750ms !important;
  background-color: #2b2b2b !important;
  cursor: pointer;
  color: #FFFFFF !important;
  border: 1px solid #2b2b2b !important;
}
.nf-form-content select {
  padding: 4px 20px;
  color: #2b2b2b !important;
  border-radius: 15px !important;
  border-color: 1px #92fd91;
  font-size: 1em !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 300 !important;
}
.nf-field-container {
  margin-bottom: 10px !important;
}
.nf-field-label {
  margin-bottom: 3px !important;
  color: #92fd91 !important;
}
ul.bullet-list li p {
  color: #000000;
  padding: 2px 4px !important;
  margin-bottom: 0 !important;
}
li {
  text-decoration: none;
  list-style-type: none;
}
.fullscreen-bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../video/eigenzinnig-web.jpg') center center / cover no-repeat;
  }
}
/**
* Navigation Defaults
*/
.nav-mobile {
  position: absolute;
  top: -100%;
  z-index: 100;
  opacity: 0;
  transition-property: all;
  transition-duration: 300ms;
  height: 900px;
}
.nav--active .nav-mobile {
  opacity: 1;
  background-color: #333;
}
.nav__list {
  margin: 0;
  padding: 10px;
}
.nav__item {
  list-style-type: none;
  text-align: left;
}
.nav__link {
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
/* Default navigation icon */
.nav__trigger {
  background: red;
  display: block;
  position: absolute;
  width: 30px;
  height: 25px;
  right: 10px;
  top: -10px;
  z-index: 200;
}
.nav--active .nav__trigger {
  opacity: 0.5;
}
.nav__icon {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #FFFFFF;
  transition-property: background-color, transform;
  transition-duration: 300ms;
}
.nav__icon:before,
.nav__icon:after {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  position: absolute;
  background: #FFFFFF;
  transition-property: margin, transform;
  transition-duration: 300ms;
}
.nav__icon:before {
  margin-top: -10px;
}
.nav__icon:after {
  margin-top: 10px;
}
.custom-mobile-menu {
  width: 14.5em;
  height: 22.938em;
  overflow: hidden;
}
.custom-mobile-menu .nav-mobile {
  padding-top: 15px;
  transform: rotateZ(-90deg);
  width: 100%;
  top: -90vh;
}
.custom-mobile-menu .nav--active .nav-mobile {
  transform: rotateZ(0);
}
.custom-mobile-menu .nav__link {
  opacity: 0;
  transition-delay: 500ms;
}
.custom-mobile-menu .nav--active .nav__link {
  opacity: 1;
}
.custom-mobile-menu .nav__icon {
  background: red;
}
.custom-mobile-menu .nav__icon:before {
  margin-top: 0;
  transform: rotate(90deg);
}
.custom-mobile-menu .nav__icon:after {
  margin-top: 0;
  transform: rotate(180deg);
}
.custom-mobile-menu .nav--active .nav__icon {
  transform: rotate(135deg);
}
.modal-dialog {
  max-width: 100%;
}
.modal-content {
  background-color: #2b2b2b;
  background-image: url("https://william-hartman.nl/CIRCLES.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 65%;
}
.blur {
  -webkit-filter: blur(5px) grayscale(50%);
}
/* FRONTPAGE */
.container-fp {
  min-height: 100%;
  background-image: url("../images/commercieel-denkvermogen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  resize: both;
  left: 0;
  right: 0;
}
.container-fp h2 {
  color: #92fd91;
  text-transform: uppercase;
  padding-left: 0;
  letter-spacing: 0.2rem;
}
.container-fp h2 span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
}
.container-fp .text-blocks {
  float: right;
}
.container-fp .text-block-left {
  text-align: right;
  float: left;
}
.container-fp .text-block-right {
  text-align: left;
  float: left;
}
.container {
  height: 100%;
}
.note {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 5px;
  background: #eee;
  max-width: 360px;
  border: 1px dotted #bbb;
}
/* show border around full height container */
.h-100 {
  border: 1px dotted #cc2222;
}
/*# sourceMappingURL=./style.css.map */